@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;

  --color-kmmr-blue: #031B47;
  --color-kmmr-pink: #D7269B;
  --color-kmmr-green: #8BC442;
  --color-kmmr-orange: #FA8700;
  --color-kmmr-purple: #3F1B65;
  --color-kmmr-yellow: #FFEB3A;
  --color-kmmr-brown: #6D351A;
  --color-kmmr-mint: #BBFFE4;
}
